/* Primary Color : #0B1D26 */
/* Seconday Color : #FBD784 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    position: relative;
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Section Navbar */
nav {
    position: fixed;
    z-index: 10;
    width: 100vw;
    transition: .5s;
}

.navbar-custom {
    /* background-color: #0B1D26; */
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2em;
    font-family: Chronicle;
    color: #fff;
}

.logo a:hover{
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    /* display: none; */
}

.nav-list li {
    list-style: none;
    padding: 0 1.5rem;
}

.nav-list li a {
    font-size: 1.25em;
    color: #fff;
}

.nav-list li a:hover{
    text-decoration: none;
}

.contact {
    background-color: #FBD784;
    padding: .5rem 1rem;
    border-radius: 20px;
    /* display: none; */
}

.contact a {
    font-family: Gilroy-Bold;
    color: #fff;
    font-weight: 900;
}

.contact a:hover{
    text-decoration: none;
}

.bars {
    display: none;
}

.bars span{
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.navigasi {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: #0B1D26;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: .5s;
}

.logo-hidden {
    margin-bottom: 20px;
}

.logo-hidden a {
    font-size: 3em;
    font-family: Chronicle;
    color: #fff;
}

.nav-list-hidden {
    list-style: none;
}

.nav-list-hidden li {
    padding: 10px 0;
}

.nav-list-hidden li a {
    color: #fff;
    font-size: 2em;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.close span {
    color: #fff;
}

.contact-hidden {
    background-color: #FBD784;
    border-radius: 50px;
}

.contact-hidden a {
    color: #0B1D26;
    font-family: Gilroy-Bold;
    letter-spacing: 2px;
    display: block;
    padding: 10px 50px;
}

/* Section Banner */
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    z-index: 5;
    background: linear-gradient(to top, #0B1D26, transparent);
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-banner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.banner h1 {
    position: absolute;
    object-fit: cover;
    font-size: 20em;
    font-family: Quartzo;
    margin-bottom: 10%;
    color: #fff;
}

#text-banner {
    position: absolute;
    bottom: 10%;
    z-index: 6;
    width: 90%;
}

.bmcc-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 5fr 2fr; */
    color: #FBD784;
    margin-bottom: 10px;
}

.bmcc-judul hr {
    border: 1px solid #FBD784;
    width: 10%;
}

.bmcc-judul h5 {
    font-family: Gilroy-Bold;
    letter-spacing: 3px;
    margin-left: 1rem;
}

#text-banner h2 {
    font-size: 4em;
    font-family: Chronicle;
    color: #fff;
    text-align: center;
}

.scroll-down {
    color: #fff;
}

.scroll-down span {
    color: #fff;
    padding: .5rem;
    /* left: 20%; */
}

/* Section About Us */
.about-us {
    padding: 5%;
    background-color: #0b1d26;
}

.judul h2 {
    color: #E5E5E5;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 4em;
}

.judul hr {
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
    margin: 1% auto;
}

.tulisan p {
    color: #aaa;
    text-align: center;
    width: 80%;
    font-family: Mulish;
    font-size: 1em;
    line-height: 2;
    margin: auto;
}

.visimisi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.vismiscard h2 {
    color: #1e1e1e;
    text-align: center;
    font-family: Mulish;
    font-size: 2em;
    font-weight: bold;
}

.vismiscard {
    background-color: #fff;
    margin: 5%;
    padding: 2rem 0;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 30px 20px rgb(255, 255, 255, 0.4);
}

.vismiscard p {
    color: #666;
    text-align: center;
    width: 60%;
    font-family: Mulish;
    font-size: 0.8em;
}

/* Section Event */
.eventSec {
    background-color: #0b1d26;
    padding: 5% 0;
}

.event .bmcc-judul h5, .event-hp .bmcc-judul h5 {
    font-size: 1em;
}

.single-event {
    padding: 50px 0;
}

.text-event {
    width: 75%;
    position: relative;
}

.event-hp .text-event {
    margin-top: 25px;
}

.isi-event {
    padding: 1rem 0;
    color: #fff;
}

.isi-event h2 {
    font-family: Chronicle;
    font-size: 3em;
    letter-spacing: 2px;
}

.isi-event p {
    line-height: 2;
}

.isi-event a {
    color: #FBD784;
}

.img-event {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-event img{
    width: 100%;
}

.num-year {
    position: absolute;
    top: -100px;
    left: -50px;
}

.num-year span {
    color: rgb(255, 255, 255, 0.2);
    font-size: 10rem;
    font-family: Gilroy-Bold;
    letter-spacing: 2px;
}

.right-flex {
    justify-content: flex-end !important;
}

/* Section Merch */
.merch {
    position: relative;
    /* height: 100vh; */
    background-color: #0B1D26;
    padding: 5% 0;
}

.kotak-merch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.kotak-bewarna {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(208.18deg, #FBD784 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}

.kotak-bewarna img {
    width: 60%;
    z-index: 5;
}
/* 
.animateZeroOpacity {
    animation-name: zeroOpacity;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.animateTranslateLeft {
    animation-name: translateLeft;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.animateTranslateRight {
    animation-name: translateRight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes zeroOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes translateLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes translateRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} */

#merch-img, #leftText, #rightText {
    transition: all ease-in-out .5s;
}

.nama-merch-kanan {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kiri {
    position: absolute;
    left: 5%;
    top: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kanan h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.nama-merch-kiri h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.titik-kanan {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -3vw;
    top: -2vw;
    opacity: 0.8;
    width: 15vw;
}

.titik-kiri {
    position: absolute;
    left: -3vw;
    bottom: -2vw;
    opacity: 0.8;
    width: 15vw;
}

.arrow-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-slide button {
    margin: 1rem 2rem;
    background-color: transparent;
    border: 0;
    color: #FBD784;
    font-size: 2em;
}

.arrow-slide button:hover {
    color: rgb(251, 215, 132, 0.6);
}

/* Section Footer */ 
footer {
    background-color: #0B1D26;
    padding: 3% 0;
}

.footer-bmcc h2 {
    color: #fff;
    font-family: Chronicle;
}

.footer-bmcc p {
    color: #fff;
    font-family: Gilroy-Bold;
    letter-spacing: 1px;
    line-height: 2;
}

.footer-list h3 {
    color: #FBD784;
    font-family: Gilroy-Bold;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li {
    padding: 0.3rem 0;
}

.footer-list ul li a {
    color: #fff;
}

.copyright {
    color: rgb(255, 255, 255, 0.5);
}

/* Responsive */
@media (max-width: 768px) {
    .nav-list, .contact {
        display: none;
    }

    .bars {
        display: block;
    }

    .banner h1 {
        font-size: 7em;
        margin-bottom: 60%;
    }

    .nama-merch-kanan h5 {
        font-size: 2.5em;
    }

    .nama-merch-kiri h5 {
        font-size: 2.5em;
    }

    .kotak-bewarna {
        width: 90%;
    }

    .vismiscard {
        width: 300px;
    }

    .judul h2 {
        font-size: 2.5em;
    }

    #text-banner h2 {
        display: none;
    }

    .isi-event h2 {
        font-size: 2em;
    }

    .isi-event p {
        display: block;
    }

    .num-year span {
        font-size: 8em;
    }

    .event {
        display: none;
    }

    .event-hp {
        display: block;
    }
}

@media (min-width: 768px) {
    .contact {
        display: block;
    }

    .nav-list {
        display: flex;
    }

    .bars {
        display: none;
    }

    .banner h1 {
        font-size: 12em;
        margin-bottom: 15%;
    }

    .nama-merch-kanan h5 {
        font-size: 4.5em;
    }

    .nama-merch-kiri h5 {
        font-size: 4.5em;
    }

    .kotak-bewarna {
        width: 80%;
    }

    .vismiscard {
        width: 250px;
    }

    .judul h2 {
        font-size: 3em;
    }

    #text-banner h2 {
        display: block;
    }

    .isi-event h2 {
        font-size: 2em;
    }

    .isi-event p {
        display: block;
    }

    .num-year span {
        font-size: 8em;
    }

    .event {
        display: block;
    }

    .event-hp {
        display: none;
    }
}

@media (min-width: 992px) {
    .contact {
        display: block;
    }

    .nav-list {
        display: flex;
    }

    .bars {
        display: none;
    }

    .banner h1 {
        font-size: 15em;
        margin-bottom: 10%;
    }

    .nama-merch-kanan h5 {
        font-size: 4.5em;
    }

    .nama-merch-kiri h5 {
        font-size: 4.5em;
    }

    .kotak-bewarna {
        width: 80%;
    }

    .vismiscard {
        width: 300px;
    }

    .judul h2 {
        font-size: 4em;
    }

    #text-banner h2 {
        display: block;
    }

    .isi-event h2 {
        font-size: 2.5em;
    }

    .isi-event p {
        display: block;
    }

    .num-year span {
        font-size: 10em;
    }

    .event {
        display: block;
    }

    .event-hp {
        display: none;
    }
}

@media (min-width: 1200px) {
    .contact {
        display: block;
    }

    .nav-list {
        display: flex;
    }

    .bars {
        display: none;
    }

    .banner h1 {
        font-size: 20em;
        margin-bottom: 10%;
    }

    .nama-merch-kanan h5 {
        font-size: 6em;
    }

    .nama-merch-kiri h5 {
        font-size: 6em;
    }

    .kotak-bewarna {
        width: 70%;
    }

    .vismiscard {
        width: 300px;
    }

    .judul h2 {
        font-size: 4em;
    }

    #text-banner h2 {
        display: block;
    }

    .isi-event h2 {
        font-size: 3em;
    }

    .isi-event p {
        display: block;
    }

    .num-year span {
        font-size: 10em;
    }

    .event {
        display: block;
    }

    .event-hp {
        display: none;
    }
}
