/* Primary Color : #0B1D26 */
/* Seconday Color : #FBD784 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Section Navbar */
nav {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar-custom {
    /* background-color: #0B1D26; */
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2em;
    font-family: Chronicle;
    color: #fff;
}

.logo a:hover{
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.nav-list li {
    list-style: none;
    padding: 0 1.5rem;
}

.nav-list li a {
    font-size: 1.25em;
    color: #fff;
}

.nav-list li a:hover{
    text-decoration: none;
}

.contact {
    background-color: #FBD784;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.contact a {
    font-family: Gilroy-Bold;
    color: #fff;
    font-weight: 900;
}

.contact a:hover{
    text-decoration: none;
}

/* Section Banner */
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    z-index: 5;
    background: linear-gradient(to top, #0B1D26, transparent);
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-banner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.banner h1 {
    position: absolute;
    object-fit: cover;
    font-size: 20em;
    font-family: Quartzo;
    margin-bottom: 10%;
    color: #fff;
}

#text-banner {
    position: absolute;
    bottom: 10%;
    z-index: 6;
}

.bmcc-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 5fr 2fr; */
    color: #FBD784;
}

.bmcc-judul hr {
    border: 1px solid #FBD784;
    width: 10%;
}

.bmcc-judul h5 {
    font-family: Gilroy-Bold;
    letter-spacing: 3px;
    margin-left: 1rem;
}

#text-banner h2 {
    font-size: 4em;
    font-family: Chronicle;
    color: #fff;
    text-align: center;
}

.scroll-down {
    color: #fff;
}

.scroll-down span {
    color: #fff;
    padding: .5rem;
    /* left: 20%; */
}

/* Section About Us */
.about-us {
    padding: 5%;
    background-color: #0b1d26;
}

.judul h2 {
    color: #E5E5E5;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 4em;
}

.judul hr {
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
    margin: 1% auto;
}

.tulisan p {
    color: #aaa;
    text-align: center;
    width: 80%;
    font-family: Mulish;
    font-size: 1em;
    line-height: 2;
    margin: auto;
}

.visimisi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.vismiscard h2 {
    color: #1e1e1e;
    text-align: center;
    font-family: Mulish;
    font-size: 2em;
    font-weight: bold;
}

.vismiscard {
    background-color: #fff;
    margin: 0 5%;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 10px 30px 20px rgb(255, 255, 255, 0.4);
}

.vismiscard p {
    color: #666;
    text-align: center;
    width: 60%;
    font-family: Mulish;
    font-size: 0.8em;
}

/* Section Event */
.event {
    background-color: #0b1d26;
    padding: 5% 0;
}

.event .bmcc-judul h5 {
    font-size: 1em;
}

.single-event {
    padding: 3% 0;
}

.text-event {
    width: 75%;
    position: relative;
}

.isi-event {
    padding: 1rem 0;
    color: #fff;
}

.isi-event h2 {
    font-family: Chronicle;
    font-size: 3em;
    letter-spacing: 2px;
}

.isi-event p {
    line-height: 2;
}

.isi-event a {
    color: #FBD784;
}

.img-event {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-event img{
    width: 100%;
}

.num-year {
    position: absolute;
    top: -100px;
    left: -50px;
}

.num-year span {
    color: rgb(255, 255, 255, 0.2);
    font-size: 10rem;
    font-family: Gilroy-Bold;
    letter-spacing: 2px;
}

.right-flex {
    justify-content: flex-end !important;
}

/* Section Merch */
.merch {
    position: relative;
    /* height: 100vh; */
    background-color: #0B1D26;
    padding: 5% 0;
}

.kotak-merch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.kotak-bewarna {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(208.18deg, #FBD784 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}

.kotak-bewarna img {
    width: 60%;
    z-index: 5;
}

.kelas-animasi-keluar {
    animation-name: keluar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.kelas-animasi-masuk {
    animation-name: masuk;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes masuk {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes keluar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.nama-merch-kanan {
    position: absolute;
    right: 5%;
    bottom: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kiri {
    position: absolute;
    left: 5%;
    top: 10%;
    color: #000000;
    opacity: 0.1;
    overflow: hidden;
}

.nama-merch-kanan h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.nama-merch-kiri h5{
    font-family: Gilroy-Bold;
    font-size: 6em;
}

.titik-kanan {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -45px;
    top: -15px;
    opacity: 0.8;
}

.titik-kiri {
    position: absolute;
    left: -45px;
    bottom: -15px;
    opacity: 0.8;
}

.arrow-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-slide button {
    margin: 1rem 2rem;
    background-color: transparent;
    border: 0;
    color: #FBD784;
    font-size: 2em;
}

.arrow-slide button:hover {
    color: rgb(251, 215, 132, 0.6);
}

/* Section Footer */ 
footer {
    background-color: #0B1D26;
    padding: 3% 0;
}

.footer-bmcc h2 {
    color: #fff;
    font-family: Chronicle;
}

.footer-bmcc p {
    color: #fff;
    font-family: Gilroy-Bold;
    letter-spacing: 1px;
    line-height: 2;
}

.footer-list h3 {
    color: #FBD784;
    font-family: Gilroy-Bold;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li {
    padding: 0.3rem 0;
}

.footer-list ul li a {
    color: #fff;
}

.copyright {
    color: rgb(255, 255, 255, 0.5);
}
